<div id="cart-icon" class="cart-icon pull-right">
    <a href="{{ path('my_cart') }}">
        <img src="{{ asset('bundles/cart/images/cart.png') }}" alt="Cart">
        {% if cart is defined and cart is not empty %}
            <div class="products-count">{{ cart|length }}</div>
        {% endif %}
    </a>
</div>
<div class="clearfix"></div>