{% extends 'base.html.twig' %}

{% block body %}
    <div class="orders-list">
        {% for order in orders %}
            <div class="order">
                <div class="order-info">{{ 'cart.buy_request.order'|trans({'id': order.id}, 'cart') }}</div>
                <div class="order-products">
                    <ul>
                        {% for product in order.products %}
                            <li class="product-title">
                                <a href="{{ path('details', {'id': product.id}) }}">{{ product.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

