{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        {% if products is defined and products is not empty %}
            {% embed "products/products.html.twig" %}
                {% block products %}
                    {% include 'products/type/inline.html.twig' with {'product': product, 'removeFromCart': true} only %}
                {% endblock %}
            {% endembed %}

            <div>
                <a href="{{ path('create_order') }}" class="pull-right btn btn-primary create-order-btn">{{ 'cart.create_order'|trans({}, 'cart') }}</a>
                <div class="pull-right cart-price">{{ 'cart.total_price'|trans({}, 'cart') }}: {{ cartPrice }}{{ 'product.currency'|trans }}</div>
            </div>
        {% else %}
            <div class="alert alert-warning">
                {{ 'cart.empty'|trans({}, 'cart') }}
                <a href="{{ path('products_list') }}">{{ 'cart.here'|trans({}, 'cart') }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

