<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/user/css/registration.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/base.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/cart/css/cart.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">

            {% block header %}
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="{{ path('homepage') }}" class="navbar-brand">{{'shop.name'|trans}}</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            {% block useNavMenu %}
                                <ul class="nav navbar-nav navbar-right">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a href="{{ path('create_product') }}">{{ 'product.createNew'|trans }}</a></li>
                                        <li><a href="{{ path('my_products') }}">{{ 'product.myProducts'|trans }}</a></li>
                                        <li>
                                            <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('fos_user_security_login') }}" id="login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                </nav>
                {#{% include 'CartBundle::cart_icon.html.twig' %}#}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/cart/js/cart.js') }}"></script>
        {% endblock %}
    </body>
</html>
