{% extends 'base.html.twig' %}

{% block body %}
    {% if products is defined and products is not empty %}
        {% include 'products/products.html.twig' %}
        <div class="text-center"><a href="{{ productsPage }}" class="btn btn-primary">{{ 'product.more_products'|trans }}</a></div>
    {% endif %}
{% endblock %}

