{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(productForm, {'method': 'post', 'action': path('save_product')}) }}
        {{ form_errors(productForm) }}
        {{ form_widget(productForm) }}
        <div>
            <input type="submit" class="btn btn-primary btn-block" value="{{ 'product.create.save'|trans }}" />
        </div>
    {{ form_end(productForm) }}
{% endblock %}