{% extends 'base.html.twig' %}

{% block body %}
    {% block sidebar %}
        <div class="col-lg-2"></div>
    {% endblock %}
        <div class="col-lg-10 details-content">
            <h2>{{ product.title }}</h2>
            <div class="price">{{ 'product.price'|trans }}: {{ product.price }} {{ 'product.currency'|trans }}</div>
            <div class="description">{{ product.description }}</div>
            {% for picture in product.pictures %}
                <div class="details-image"><img src="{{ asset(picture) }}" alt="{{ product.title }}"></div>
            {% endfor %}
        </div>
{% endblock %}