<ul class="pagination">
    {% set params = {} %}
    {% if activeSort is defined and activeSort is not empty %}
        {% set params = params|merge({'activeSort': activeSort.name}) %}
    {% endif %}
    {% if activeCategory is defined and activeCategory is not empty %}
        {% set params = params|merge({'activeCategory': activeCategory.id}) %}
    {% endif %}

    {% for page in pagination %}
    <li class="{{ page.class }}">
        {% if page.disabled %}
            <a href="#">{{ page.value|raw }}</a>
        {% else %}
            {% set tmpParams = params|merge({page: page.page})%}
            <a href="{{ path('products_list', tmpParams) }}">{{ page.value|raw }}</a>
        {% endif %}
        </li>
    {% endfor %}
</ul>
