{% extends 'base.html.twig' %}

{% block body %}

    {% block sidebar %}
        <div class="col-lg-2">
            {% if categories is defined and categories is not empty %}
                {% include 'products/sidebar.html.twig' %}
            {% endif %}
        </div>
    {% endblock %}

    <div class="col-lg-10">

        {% block sorting %}
            {% if possibleSorts is defined and possibleSorts is not empty %}
                <div class="sorting-navigation">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% if activeSort is defined and activeSort is not empty%}
                                {{ activeSort.displayName }}
                            {% else %}
                                {{ 'sort.choose'|trans }}
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for sort in possibleSorts %}
                                {% if activeCategory is defined and activeCategory is not empty %}
                                    <li><a href="{{ path('products_list', {'activeSort': sort.name, 'activeCategory': activeCategory.id}) }}">{{ sort.displayName }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('products_list', {'activeSort': sort.name}) }}">{{ sort.displayName }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block pagination_top %}
            {% include 'products/pagination.html.twig' with {'pagination': pagination} only %}
        {% endblock %}

        {% include 'products/products.html.twig' %}

        {% block pagination_bottom %}
            {% include 'products/pagination.html.twig' with {'pagination': pagination} only %}
        {% endblock %}
    </div>
{% endblock %}