{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        {{ 'product.product_created'|trans({'title': product.title}) }}
        <a href="{{ path('details', {'id': product.id}) }}">{{ 'product.here'|trans }}</a>
    </div>
{% endblock %}