<h1><small>{{ 'category.categories'|trans }}</small></h1>
<div class="list-group">
    {% for category in categories %}
        {% set params = {'activeCategory': category.id} %}
        {% if activeSort is defined and activeSort is not empty %}
            {% set params = params|merge({'activeSort': activeSort.name}) %}
        {% endif %}

        <a href="{{ path('products_list', params) }}" class="list-group-item {% if activeCategory is defined and category.isActive(activeCategory.id) %}active{% endif %}">
            <span class="badge">{{ category.products|length }}</span>
            {{ category.title|raw }}
        </a>
    {% endfor %}

    {% if activeCategory is defined and activeCategory is not empty %}
        {% if activeSort is defined and activeSort is not empty %}
            {% set params = {'activeSort': activeSort.name} %}
        {% else %}
            {% set params = {} %}
        {% endif %}

        <a href="{{ path('products_list', params) }}" class="list-group-item list-group-item-warning">
            {{ 'category.remove_filter'|trans }}
        </a>
    {% endif %}
</div>