.cart-icon {
    width: 50px;
    height: 50px;
    position: relative;
}
.cart-icon img {
    width: 50px;
    height: 50px;
}
.cart-icon .products-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f2298a;
    border-radius: 10px;
    width: 29px;
    height: 21px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.add-to-cart, .remove-from-cart {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
.add-to-cart:hover, .remove-from-cart:hover {
    color: #23527c;
    text-decoration: underline;
}
.cart-price {
    margin-top: 5px;
    margin-right: 10px;
    color: #777;
    font-size: 20px;
}