.inline-product {
    height: 115px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px #cccccc;
}

.inline-product > div {
    display: inline-block;
}

.inline-product img {
    height: 100px;
}

.inline-product .title {
    padding-bottom: 10px;
}

.inline-product .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 10px;
}

.inline-product .price {
    font-size: 18px;
}

.details-content .details-image {
    margin-bottom: 20px;
}

.details-content .details-image img {
    width: 400px;
}

.details-content .price {
    margin-bottom: 20px;
}

.details-content .description {
    margin-bottom: 20px;
}

.sorting-navigation {
    padding: 0 20px 15px;
}