{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show info">
    <div>
        <div class="col-sm-6">{{ 'profile.show.username'|trans }}</div>
        <div class="col-sm-6">{{ user.username }}</div>
    </div>
    <div>
        <div class="col-sm-6">{{ 'profile.show.email'|trans }}</div>
        <div class="col-sm-6">{{ user.email }}</div>
    </div>
    <div>
        <div class="col-sm-12"><a href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit.submit'|trans }}</a></div>
    </div>
    <div>
        <div class="col-sm-12"><a href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans }}</a></div>
    </div>
</div>
