<div class="inline-product">
    <div class="col-lg-2"><img src="{{ asset(product.pictures|first) }}" alt="{{ product.title }}"></div>
    <div class="col-lg-8">
        <div class="title"><strong><a href="{{ path('details', {'id': product.id}) }}">{{ product.title }}</a></strong></div>
        <div class="description">{{ product.description }}</div>
        <div class="more-details"><a href="{{ path('details', {'id': product.id}) }}">{{ 'product.full_details'|trans }}</a></div>
    </div>
    <div class="col-lg-2">
        <div class="price">{{ product.price }} {{ 'product.currency'|trans }}</div>
        {% if enableCart is defined and enableCart is not empty %}
            <div class="add-to-cart" data-product-id="{{ product.id }}">{{ 'cart.to_cart'|trans({}, "cart") }}</div>
        {% endif %}
        {% if removeFromCart is defined and removeFromCart is not empty %}
            <div><a href="{{ path('remove_from_cart', {'productId': product.id}) }}">{{ 'cart.remove'|trans({}, "cart") }}</a></div>
        {% endif %}
    </div>
</div>